name: Terraform provisioning

on:
  workflow_dispatch:

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/902774502788/locations/global/workloadIdentityPools/github-actions/providers/
          service_account: terraform-runner@jaffleshop-483809.iam.gserviceaccount.com
          project_id: jaffleshop-483809

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform init
        working-directory: infra/terraform
        run: terraform init

      - name: Terraform apply
        working-directory: infra/terraform
        run: terraform apply -auto-approve
