name: Terraform provisioning

on:
  workflow_dispatch:
    inputs:
      project_id:
        description: "GCP project id"
        required: true
        default: "jaffleshop-483809"

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      TF_VAR_project_id: ${{ inputs.project_id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_TERRAFORM_SERVICE_ACCOUNT }}
          project_id: ${{ inputs.project_id }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform init
        working-directory: infra/terraform
        run: terraform init

      - name: Terraform apply
        working-directory: infra/terraform
        run: terraform apply -auto-approve
